body {
    background-color: #8d99ae;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    width: 800px;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

html {
    background-color: #edf2f4;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Wii";
    color: #2b2d42;
}

@font-face {
    font-family: 'Wii';
    src: url('../fonts/ATTFShinGoProHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    justify-content: center;

}

.row {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 0px 0px;
    gap: 12px;
    padding: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: center;
    position: relative;
}

.points {
    display: grid;
    grid-template-rows: repeat(5, 3px);
    gap: 8px;
    margin-left: -8px;
}

.row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    right: 40px;
    bottom: 0;
    background-color: white;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
}

.row:hover::before {
    opacity: 0.3;
}

.square {
    width: 52px;
    height: 52px;
    background-color: rgb(237, 242, 244);
    z-index: 0;
    transition: color 0.3s ease;
}

.square:hover {
    content-visibility: visible;
}

.point {
    width: 8px;
    height: 8px;
    background-color: #edf2f4;
}

.button-30 {
    text-align: center;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Wii';
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.start-button {
    position: absolute;
    left: 42%;
    top: 50%;
    margin-bottom: 3%;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Wii';
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    text-align: center;

}

.start-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.start-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.start-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}