:root {
    --color-body: #8d99ae;
    --color-global: #edf2f4;
    --color-font: #2b2d42;
}

body {
    background-color: var(--color-body);
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    width: 800px;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-left: var(--color-font) dashed 10px;
    border-right: var(--color-font) dashed 10px;
}

html {
    background-color: var(--color-global);
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Wii";
    color: var(--color-font);
}

@font-face {
    font-family: 'Wii';
    src: url('../fonts/ATTFShinGoProHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WiiTh';
    src: url('../fonts/ATTFShinGoProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 0px 0px;
    gap: 32px;
    padding: 10px;
    justify-content: center;
    position: relative;
}

.points {
    display: grid;
    grid-template-rows: repeat(5, 7px);
    gap: 8px;
    margin-left: -5px;
}

.row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    right: 40px;
    bottom: 0;
    background-color: white;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
}

.row:hover::before {
    opacity: 0.3;
}

.square {
    width: 72px;
    height: 72px;
    background-color: rgb(237, 242, 244);
    z-index: 0;
    border-radius: 0px;
    transition: border-radius 0.2s ease-in-out;
    font-family: "WiiTh";
    color: rgb(237, 242, 244);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    width: 12px;
    height: 12px;
    background-color: var(--color-global);

}

.button-30 {
    text-align: center;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Wii';
    height: auto;
    width: 50px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.final {
    color: #FCFCFD;
    background-color: #36395A;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2b2d47 0 -3px 0 inset;
    width: 100px;
    padding-right: 32px;
    padding-left: 32px;

}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:focus {
    box-shadow: #2b2d47 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}


.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.final:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2b2d47 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.final:active {
    box-shadow: #2b2d47 0 3px 7px inset;
    transform: translateY(2px);
}

.start-button {
    position: absolute;
    left: 42%;
    top: 50%;
    margin-bottom: 3%;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Wii';
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    text-align: center;

}

.start-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.start-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.start-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.restart-button {
    position: absolute;
    left: 42%;
    top: 50%;
    margin-bottom: 3%;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Wii';
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    text-align: center;
    z-index: 11;
    position: fixed;
    top: 75vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.restart-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.restart-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-5px) translate(-50%, -50%);
}

.restart-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px) translate(-50%, -50%);
}

.endScreen {
    transition: opacity 1s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-global);
    z-index: 10;
    top: 0;
    left: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 0.8;
    pointer-events: auto;
}

.visibleSolid {
    opacity: 1;
    pointer-events: auto;
}

.resultText {
    transition: opacity 1s ease-in-out;
    position: fixed;
    text-align: center;
    font-size: 100px;
    font-family: "Wii";
    color: var(--color-font);
    top: 15vh;
    left: 50vw;
    width: 100%;
    z-index: 11;
    transform: translate(-50%, -50%);
}

.resultRow {
    position: fixed;
    top: 55vh;
    left: 50vw;
    display: flex;
    gap: 70px;
    z-index: 11;
    transform: translate(-50%, -50%);
}

.resultSquare {
    width: 80px;
    height: 80px;
    background-color: var(--color-global);
    z-index: 0;
    transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

.resultSquare:hover {
    transform: scale(1.1);
}